<link rel="stylesheet" href="/stylesheets/modals.css" />

<div class="modalQ" id="questionsModal">
    <div style="display:flex; justify-content: center;" class="centerQ">
        <div class="card" style="width:400px; top:30px; background-color:#D69278; color: #660033">
            <div class="align-items-center" id="questionsContainer">
                <div id = 'questionsHeader'></div>
                <button type="button" id="closeQuestionsButton" class="xButtonQ">
                    <i class="fas fa-times"></i>
                </button>
                <div id = 'realQuestions'>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/modals.js"></script>