.left-div{
    padding: 20px;
    position: relative;
    background-color:#D69278DF;
    top:75px;
    border-radius:15px;
    align-content: center;
    margin-bottom: 10px;
    border:3px solid #660033;
    max-height: 90vh;
    overflow: auto;
}

.button{
    margin-top:5px !important;
    padding:7px !important;
    border: 3px solid; !important;
    background-color:transparent !important;
    border-color: #660033 !important;
    color: #660033;
    font-size: large;
    font-weight: bold !important;
}

.button:hover{
    background-color: #660033 !important;
    color:white !important;
}

.image-div{
    margin-top: 5px;
    margin-left: 0px;
    border: 1px solid;
    border-radius: 3px;
    width: 100%;
    max-width: 250px;
    aspect-ratio : 1 / 1;
    padding:0;
}

.detail-div{
    margin-top:5px;
    margin-left: 10px;
}

.detail-header{
    font-size: large;
    font-weight: bold;
    padding: 7px;
    color: #660033;
}

.detail-instance{
    padding-top:7px;
    padding-bottom: 7px;
    font-size: larger;
    color: #660033;
}

.img-user {
    width:100%;
    height:100%;
}

.toggle-div1 {
    padding: 10px;
    border:1px solid;
    border-color: #660033 !important;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.toggle-div1:hover{
    background-color:#C0603A;
    color:white;
}